@import "../../scss/variables";

.recipes-container {
    width: 100%;
    height: auto;
}

.recipes-box-container {
    display: grid;
    gap: 1.2em;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    justify-content: center;
    grid-auto-rows: auto;
    grid-auto-flow: dense;
}

.recipes-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    list-style: none;
    background-color: $box-color;
    border-radius: $main-border-radius;
    padding: 1rem;

        h3 {
            display: block;
            max-width: 250px;
            color: $title-color;
            text-shadow: $second-text-shadow;
            text-align: center;
            font-size: 1.3em;
            
        }

        h4 {
            text-align: center;
            font-size: 1.1em;
            text-transform: capitalize;
        }

        button {
            font-size: 1em;
            font-weight: 600;
            text-transform: capitalize;
            padding: .5em 1em;
            border-radius: $main-border-radius;
            background-color: $title-color;
            transition: $background-animation;

                &:hover {
                    background-color: $main-hover;
                    transition: $background-animation;
                }
        }


}

.slim-text {
    font-weight: 300;
}