//=====COLORS============================
$background-color: #fff;
$text-color: #000;
$title-color: #2ED1A5;

//==FONTS=================================
$title-fond: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$text-font: Verdana, Geneva, Tahoma, sans-serif;