@import "../../scss/variables";

.footer {
    width: 100%;
    height: auto;
    padding: 1em;
    background-color: $box-color;
    border-radius: $main-border-radius;
}

.footer-link {
    font-weight: 900;
    text-transform: capitalize;
    color: $text-color;
    border-bottom: 1px solid $text-color;
    transition: color .3s ease-in-out, border-bottom .3s ease-in-out;
    text-decoration: none;

        &:hover {
            color: $title-color;
            border-bottom: 1px solid $title-color;
            transition: color .3s ease-in-out, border-bottom .3s ease-in-out;
        }
}