//==SIZES==================================
$main-border-radius: 1rem;
$main-space: 1.2rem;

//===COLORS=================================
$background-color: #e7e4e4;
$box-color: #fff;
$text-color: #000000ba;
$title-color: #2ED1A5;
$shadow-color: #000;

//===FONTS===================================
$title-fond: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$text-fond: Verdana, Geneva, Tahoma, sans-serif;

//===FONTS_SIZES=============================
$title-size: clamp(2.3em, 5.5vw, 5em);


//===TEXT_SHADOW==============================
$main-text-shadow: 2px 2px 1px $shadow-color;